.formResetPassword {
  padding: 10em 6em;
}

.formResetPassword__formInput {
  padding-top: 2em;
  color: #9ea0a5;
}

.formResetPassword__forgotPass {
  text-decoration: none;
  color: #1f2a36;
  justify-content: right !important;
  text-align: right !important;
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}

.formResetPassword__button {
  width: 100%;
  background-color: #fbb017 !important;
  border: none !important;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}

.formResetPassword__signUp {
  text-align: center;
  margin-top: 30px;
}

.formResetPassword__signUp a {
  text-decoration: none;
  color: #fbb017;
}
