.window__regis--recruiters {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f6f7f8;
  height: 174vh !important;
}

.column1 {
  position: relative;
}

.column2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 480px) {
  .window__regis--recruiters {
    height: 90vh !important;
  }
  .column1 {
    display: none !important;
  }
}
