.window__regis--workers {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f6f7f8;
  height: 150vh !important;
}

.column1 {
  position: relative;
  /* height: 100vh; */
  padding: 50px 0px 5px 70px !important;
}

.column2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 480px) {
  .window__regis--workers {
    height: 90vh !important;
  }
  .column1 {
    display: none !important;
  }
}
