.footer__row {
  padding: 3em 7em 1em !important;
  background-color: #5e50a1;
}

.footer__row p {
  color: #ffffff;
}

.logo__white {
  width: 250px;
  padding-bottom: 30px;
}

hr {
  background-color: #ffffff !important;
  height: 2px !important;
}

.footer__end {
  display: flex !important;
}

.footer__end--item {
  display: inline-flex;
  justify-content: space-between;
}

.footer__end--right--phone {
  padding-right: 100px;
}

.footer__end--right {
  display: flex;
}
