/* 1 */
.landing__page--1 {
  margin-top: 50px !important;
  margin-bottom: 100px;
}

.landing__page--1--desc h1 {
  font-size: 44px;
  line-height: 70px;
  margin-bottom: 20px;
}

.landing__page--1--desc p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 55px;
}

.landing__page--1--desc button {
  font-size: 16px;
  line-height: 20px;
  padding: 21px 24px;
}

/* 2 */
.landing__page--2 {
  margin-bottom: 100px;
}

.landing__page--2--desc h1 {
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 34px;
}

/* 3 */
