.row__overlay {
  position: absolute;
  width: 100%;
  height: 93.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row__overlay--mask {
  height: 100%;
  width: 100%;
  padding-right: 70px;
  padding-bottom: 40px;
}

.row__overlay--logo {
  width: 490px;
  padding-bottom: 650px;
  padding-right: 370px;
}

.row__overlay--quote {
  text-align: left;
  color: white;
  position: absolute;
  padding-right: 180px;
  padding-bottom: 100px;
}

.row__overlay--quote h1 {
  font-size: 50px;
}

.row__image {
  height: 95%;
  width: 100%;
  object-fit: cover;
}
