.formLogin {
  padding: 10em 6em;
}

.logo__mobile {
  display: none;
}

.formLogin__formInput {
  padding-top: 2em;
  color: #9ea0a5;
}

.formLogin__forgotPass {
  text-decoration: none;
  color: #1f2a36;
}

.formLogin__button {
  width: 100%;
  background-color: #fbb017 !important;
  border: none !important;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
}

.formLogin__signUp {
  text-align: center;
  margin-top: 30px;
}

.formLogin__signUp a {
  text-decoration: none;
  color: #fbb017;
}

@media (max-width: 480px) {
  .formLogin {
    padding: 5em 2em;
  }

  .logo__mobile {
    display: block;
    width: 120px;
    padding-bottom: 30px;
  }
}
